<section id="footer">
  <div class="footer container">
    <div class="brand">
      <h1><span>M</span>ohamed <span>E</span>smat</h1>
    </div>
    <h2>Your Complete Web Solution</h2>
    <div class="social-icon">
      <div class="social-item">
        <a href="https://www.facebook.com/mohamed.esmat.79677/"
          ><img
            src="https://img.icons8.com/?size=100&id=ddJXF_L1PvL_&format=png&color=000000"
        /></a>
      </div>
      <div class="social-item">
        <a href="https://github.com/mohamed-esmatt"
          ><img
            src="https://img.icons8.com/?size=100&id=62856&format=png&color=000000"
        /></a>
      </div>
      <div class="social-item">
        <a href="https://www.linkedin.com/in/mohamed-al-gamal-9a6b34266/"
          ><img
            src="https://img.icons8.com/?size=100&id=13930&format=png&color=000000"
        /></a>
      </div>
    </div>
    <p>Copyright © 2025 Esmat. All rights reserved</p>
  </div>
</section>
