<section id="header">
  <div class="header container">
    <div class="nav-bar">
      <div class="brand">
        <a href="#hero"
          ><h1><span>M</span>ohamed <span>E</span>smat</h1></a
        >
      </div>
      <div class="nav-list">
        <div class="hamburger" (click)="toggleMenu()"><div class="bar"></div></div>
        <ul>
          <li><a href="#hero" data-after="Home" (click)="toggleMenu()">Home</a></li>
          <li><a href="#skills" data-after="Skills" (click)="toggleMenu()">Skills</a></li>
          <li><a href="#projects" data-after="Projects" (click)="toggleMenu()">Projects</a></li>
          <li><a href="#about" data-after="About" (click)="toggleMenu()">About</a></li>
          <li><a href="#contact" data-after="Contact" (click)="toggleMenu()">Contact</a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
