<!-- Contact Section -->
<section id="contact">
  <div class="contact container">
    <div>
      <h1 class="section-title">Contact <span>info</span></h1>
    </div>

    <!-- Contact cards -->
    <div class="contact-items">
      <div class="contact-item">
        <div class="icon">
          <img src="https://img.icons8.com/bubbles/100/000000/phone.png" />
        </div>
        <div class="contact-info">
          <h1>Phone</h1>
          <h2>+20 115 0773 402</h2>
          <h2>+20 1060348286</h2>
        </div>
      </div>

      <div class="contact-item">
        <div class="icon">
          <img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" />
        </div>
        <div class="contact-info">
          <h1>Email</h1>
          <h2>mohamed.esmat75&#64;gmail.com</h2>
        </div>
      </div>

      <div class="contact-item">
        <div class="icon">
          <img src="https://img.icons8.com/bubbles/100/000000/map-marker.png" />
        </div>
        <div class="contact-info">
          <h1>Address</h1>
          <h2>NasrCity, Amtdad Rmses 2 , Block 58</h2>
        </div>
      </div>
    </div> <!-- End contact-items -->

    <!-- Move the form here -->
<div class="styled-form-wrapper">
      <h2>Send a Message</h2>

      <form (submit)="sendEmail($event)" class="styled-form">
        <div class="form-left">
          <input type="text" name="from_name" placeholder="Your name" required />
          <input type="email" name="from_email" placeholder="Your email" required />
          <input type="text" name="subject" placeholder="Subject" required />
        </div>

        <div class="form-right">
          <textarea name="message" id="message" placeholder="Your message" required></textarea>
          <button type="submit">SEND A MESSAGE</button>

      
        </div>
      </form>

      <p class="success" *ngIf="successMessage">{{ successMessage }}</p>
      <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
    </div>

  </div>
</section>
